<p style="font-size:xx-large; font-weight: 410;">Modifier le profil</p>
<div style="background-color: white; padding: 20px; border-radius: 5px;margin: 20px;">
    <h3>Informations personnelles</h3>
    <div style="display: flex; flex-direction: row;">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Prenom</label>
            <input class="form-control" id="exampleFormControlInput1">
        </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Date de naissance</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Numéro de téléphone</label>
            <input class="form-control" id="exampleFormControlInput1">
        </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Adresse</label>
            <input class="form-control" id="exampleFormControlInput1">
        </div>
    </div>


</div>
<div style="background-color: white; padding: 20px; border-radius: 5px;margin: 20px;">
    <h3>Informations Scolaire</h3>
    <div style="display: flex; flex-direction: row;">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Niveau d'étude</label>
            <select class="selectpicker" multiple>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <!-- Ajoutez d'autres options ici -->
            </select>

        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Domaine d'étude</label>
            <select class="form-control choices-multiple" multiple>
                <option></option>
                <option value="AZ">Arizona</option>
                <option value="CO">Colorado</option>
                <option value="ID">Idaho</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NM">New Mexico</option>
                <option value="ND">North Dakota</option>
                <option value="UT">Utah</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Ecole ou Université</label>
            <select class="form-control" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Langue parlée(s)</label>
            <select class="form-control" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>

</div>