  <!-- Side bar -->
  <div class=" contenuside " >
        <!-- Sidebar -->
         <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a  href="/espaceEudiant/dashboard" class="sidebar-link">
                        <i class="bi bi-journal-richtext"></i>
                          Mon Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/espaceEudiant/profilEtudiant" class="sidebar-link">
                        <i class="bi bi-person"></i>
                         Profil
                    </a>
                </li>    
                <li class="sidebar-item">
                    <a href="/espaceEudiant/cv" class="sidebar-link">
                        <i class="bi bi-file-earmark-person"></i>
                         Mon CV
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/espaceEudiant/candidatures" class="sidebar-link">
                        <i class="bi bi-envelope"></i>
                                                    Mes Candidatures
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/espaceEudiant/modifierMotdePasse" class="sidebar-link">
                        <i class="bi bi-lock"></i>
                            Modifier mon mot de passe
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="" class="sidebar-link">
                        <i class="bi bi-trash"></i>
                        Supprimer mon profil
                    </a>
                </li>
                <li class="sidebar-item"style="margin-top: 180px; color: white; margin-left:10px">
                    <a >
                        <img src="https://secure.gravatar.com/avatar/15408138d5e4ba95c780c0b60e412be3?s=54&d=mm&r=g" style="border-radius: 50%;">
                        corineSop
                        <i class="bi bi-caret-down"></i>
                    </a>
                </li>
                
            </ul>
         </div>
