.nav-item{
    color: white;
}




.btn-outline-light{
    border-radius: 50px;
    border: solid 2px #fff;
   
}
.navbar{
    height: 120px;
    box-shadow: none;
}
 img{
    width: 250px; 
    height: 250px; 
 }

  
  .navbar-other {
    background-color: #024454; /* Couleur gris foncé */
    box-shadow: inset;
  }