<nav class="navbar navbar-expand-lg border:none box-shadow: 0 0 0 0 transparent;">
  <div class="container-fluid">
   
      <div class="d-flex me-auto">
        <a href=""><img src="../../../assets/logo/Stagelink.png"  ></a> 
     </div>
    
    <div >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  style="color: white;" aria-current="page" href="/stage">Offres de stage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  style="color: white;" href="#">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  style="color: white;" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Apropos</a>
        </li>
                
        <li class="nav-item ">
          <button class="btn btn-outline-light" (click)="openModal()" role="button" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#staticBackdrop"  >
            Connexion/Inscription
          </button>
        </li>
      </ul>
     </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg  " style="height: 120px; border: none; box-shadow: 0 0 0 0 transparent; ">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse mh-5px" id="navbarSupportedContent">        
        <div class="d-flex me-auto">
           <a href=""><img src="../../../assets/logo/Stagelink.png" style="width: 250px; height: 250px;" ></a> 
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link "  style="color: rgb(7, 7, 7);" aria-current="page" href="#">Toutes nos offres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  style="color: white;" href="#">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  style="color: white;" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Apropos</a>
            </li>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  style="color: white;" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Traduction
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item"  href="#" s>Francais</a></li>
                      <li><a class="dropdown-item" href="#">Anglais</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            <li class="nav-item ">
              <button class="btn btn-outline-light" (click)="openModal()" role="button" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#staticBackdrop"  >
                Connexion/Inscription
              </button>
            </li>
          </ul>
      </div>
    </div>
  </nav> -->