<main>
     <div class="banner">
        <app-nav-bar></app-nav-bar>
        <div class="content">
            <div class="contentImage">
                <p class="p-text">
                    Valorisez votre cursus et développez <br>vos compétences scolaire grace à <span
                        style="color: rgb(234, 234, 234);">StageLink</span>
                </p>
                <div class="group-button">
                    <button class="btn btn-outline-light " routerLink="/stage" routerLinkActive="active" role="button">
                        Offres de stage
                    </button>
                    <button class="btn btn-outline-light "  (click)="openModal()" role="button">
                        Connexion
                    </button>
                   
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px; display: flex; flex-direction: row;">
        <div style="margin-right: 200px; margin-left: 100px; width: 600px;">
            <h1 style="font-weight: bolder; font-size: xx-large;  color: #147e99;">
                Recherchez parmi de multitudes<br>
                offres de divers domaines
            </h1><br>
            <p>
                Toute recherche de stage trouve sa réalisation grâce à MyInternshipAbroad !
                Que ce soit pour un stage à l'étranger ou pour une expérience de mission Volontariat
                International en Entreprise (VIE), MyInternshipAbroad vous permet de trouver l’offre
                parfaite aux Etats-Unis, au Royaume-Uni et partout dans le monde.Consultez nos offres
                dans des domaines très variés : marketing, commerce international, management, tourisme,
                ressources humaines etc.
            </p>

        </div>
        <div>
            <img src="../../../assets/background/illbg1.jpg" style="width: 600px; height: 400px; margin-right: 100px; ">
        </div>
    </div>
    <div style="margin-top: 50px; display: flex; flex-direction: row; margin-top: 150px;">
        <div>
            <img src="../../../assets/background/illbg2.jpg" style="width: 600px; height: 400px; margin-left: 100px; ">
        </div>
        <div style="width: 600px; height: 400px; margin-right: 100px; margin-left: 100px;">
            <h1 style="font-weight: bolder; font-size: xx-large;  color: #147e99;">
                Postulez <br>Directement
            </h1><br>
            <p>
                Dernièrement, nous avons établi un processus rapide
                et efficace qui permet à chaque candidat de décrocher,
                en moyenne, son stage en seulement 14 jours. Notre méthode
                peut ainsi vous permettre de réussir tous vos projets à
                l’international en toute efficacité et sans prise de tête supplémentaire.
                Notre méthode rapide s’adresse par ailleurs aux étudiants qui
                sont dans l’urgence de faire un stage et qui n’ont pas envie de
                redoubler une année universitaire. Trouver votre stage n’a jamais été aussi
                simple avec MyInternshipAbroad.
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</main>