<form>   
    <input class="input-container" type="text" name="nom"  placeholder="Nom de l'entreprise">
    <input class="input-container" type="text" name="nom"  placeholder="Nom du recruteur">
    <input class="input-container" type="email" name="email" placeholder="Email du recruteur">
    <input class="input-container" type="password" name="password" placeholder="Mot de passe">
    <input class="input-container" type="password" name="password"  placeholder="Confirmer le mot de passe">
</form>
<button class="button-sinup" routerLink="/espaceEmployeur" routerLinkActive="active">Enregistrer</button>
